<nav>
  <div class="catalog">
    <app-catalog-nav ngClass="catalog--nav" title="Produkty"></app-catalog-nav>
    <app-search-bar></app-search-bar>
  </div>
  <a class="title" routerLink="/">
    <img src="../../../../assets/book.png" alt="book" />
    <span>Zaczytani</span>
  </a>
  <div class="user">
    <a routerLink="/contact">Kontakt</a>
    <a routerLink="/shopping-cart"><svg-icon name="shopping-cart"></svg-icon></a>
    <div class="user--dropdown" *ngIf="isLoggedIn; else login">
      <svg-icon name="user"></svg-icon>
      <nav>
        <a routerLink="/user-profile">Mój profil</a>
        <a routerLink="/orders">Moje zamówienia</a>
        <a routerLink="/loyalty-program">Moje punkty</a>
        <a routerLink="/" (click)="onLogoutClick()">Wyloguj mnie</a>
      </nav>
    </div>
  </div>
</nav>

<ng-template #login>
  <a routerLink="/log-in" class="log-in-link"><svg-icon name="user"></svg-icon></a>
</ng-template>
