<app-nav></app-nav>
<main [ngClass]="{ invalid: triedSubmit }">
  <h1>Podsumowanie zamówienia</h1>
  <form [formGroup]="orderForm" (ngSubmit)="onFormSubmit()">
    <section class="top-section">
      <div class="personal-data">
        <div class="client">
          <span (click)="onClientClick()">
            <input
              type="radio"
              value="client"
              id="client"
              name="orderer"
              formControlName="orderer"
            />
            <label for="client">Klient indywidualny</label>
          </span>
          <span (click)="onCompanyClick()">
            <input
              type="radio"
              value="company"
              id="company"
              name="orderer"
              formControlName="orderer"
            />
            <label for="company">Firma</label>
          </span>
        </div>
        <div class="address" formGroupName="personalData">
          <input
            type="text"
            placeholder="Imię"
            *ngIf="ordererMode === 'client'"
            formControlName="forname"
          />
          <input
            type="text"
            placeholder="Nazwisko"
            *ngIf="ordererMode === 'client'"
            formControlName="surname"
          />
          <input
            type="text"
            placeholder="Nazwa firmy"
            *ngIf="ordererMode === 'company'"
            formControlName="companyName"
          />
          <input
            type="text"
            placeholder="NIP"
            *ngIf="ordererMode === 'company'"
            formControlName="NIP"
          />
          <input type="text" placeholder="Email" formControlName="email" />
          <input type="text" placeholder="Numer telefonu" formControlName="phoneNumber" />

          <div class="input-group">
            <input
              class="street"
              type="text"
              placeholder="Ulica"
              formControlName="street"
            />
            <input class="number" type="text" placeholder="Nr" formControlName="number" />
          </div>
          <div class="input-group">
            <input
              class="postcode"
              type="text"
              placeholder="Kod pocztowy"
              formControlName="postcode"
            />
            <input class="city" type="text" placeholder="Miasto" formControlName="city" />
          </div>
          <select
            name="country"
            id="country"
            formControlName="country"
            value="Polska"
            formControlName="country"
          >
            <option value="Polska">Polska</option>
            <option value="Niemcy">Niemcy</option>
            <option value="Francja">Francja</option>
            <option value="Ukraina">Ukraina</option>
            <option value="Litwa">Litwa</option>
            <option value="Czechy">Czechy</option>
          </select>
        </div>
      </div>
      <div class="order-details">
        <h3>Moje produkty:</h3>
        <div class="table-container">
          <table *ngIf="shoppingCart">
            <tr>
              <th>Nazwa</th>
              <th>Ilość</th>
              <th>Cena</th>
            </tr>
            <tr *ngFor="let position of shoppingCart.positions">
              <td>
                <span>{{ position.product.author }} - {{ position.product.name }}</span>
              </td>
              <td>
                <span>{{ position.amount }}</span>
              </td>
              <td>{{ position.amount * position.product.price }} zł</td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <section class="bottom-section">
      <div class="part container">
        <div class="payment">
          <h2>Wybierz sposób płatności</h2>
          <div>
            <input
              type="radio"
              name="payment"
              id="transfer"
              value="transfer"
              formControlName="payment"
            />
            <label for="transfer">Przelew</label>
          </div>
          <div>
            <input
              type="radio"
              name="payment"
              id="online"
              value="online-payment"
              formControlName="payment"
            />
            <label for="online">Płatność online</label>
          </div>
        </div>
        <div class="document">
          <h2>Wybierz dokument księgujący</h2>
          <div>
            <input
              type="radio"
              name="document"
              id="receipt"
              value="receipt"
              formControlName="document"
            />
            <label for="receipt">Paragon</label>
          </div>
          <div>
            <input
              type="radio"
              name="document"
              id="invoice"
              value="invoice"
              formControlName="document"
            />
            <label for="invoice">Faktura</label>
          </div>
        </div>
      </div>
      <div class="part delivery" formGroupName="deliveryOption">
        <h2>Wybierz sposób dostawy</h2>
        <div (click)="onBookstoreClick()" value="bookstore">
          <input
            type="radio"
            name="delivery"
            id="bookstore"
            value="bookstore"
            formControlName="delivery"
          />
          <label for="bookstore">Odbiór osobisty <span>0.00 zł</span></label>
        </div>
        <div (click)="onCarrierClick()">
          <input
            type="radio"
            name="delivery"
            id="carrier"
            value="carrier"
            formControlName="delivery"
          />
          <label for="carrier">Kurier (Pocztex) <span>13.99 zł</span></label>
        </div>
        <div (click)="onParcelClick()">
          <input
            type="radio"
            name="delivery"
            id="parcel"
            value="parcel"
            formControlName="delivery"
          />
          <label for="parcel">Paczkomat Inpost <span>9.99 zł</span></label>
        </div>
        <div class="chosen-parcel" *ngIf="chosenParcelMachine && showChosenParcel">
          <p>Wybrany paczkomat:</p>
          <p class="data">
            {{ chosenParcelMachine.code }}, {{ chosenParcelMachine.address }}
          </p>
        </div>
      </div>
      <div class="part summary">
        <h2>Koszty:</h2>
        <div>
          Wartość koszyka: <span>{{ getTotalCartAmount() | number : '.2' }} zł</span>
        </div>
        <div>
          Koszt dostawy:
          <span>{{ deliveryCost | number : '.2' }} zł</span>
        </div>
        <div>
          Suma: <span>{{ getTotalCartAmount() + deliveryCost | number : '.2' }} zł</span>
        </div>
        <div>
          Dostępne bookcoiny: <span>{{ getBookcoins() }}</span>
        </div>
        <div class="bookcoins">
          <label for="bookcoins">Wpisz liczbę bookcoinów:</label>
          <input
            type="number"
            id="bookcoins"
            formControlName="bookcoins"
            (keyup)="onBookcoinsChange()"
          />
        </div>
        <div>
          Kwota do zapłaty:
          <span
            >{{
              getTotalCartAmount() + deliveryCost - usedBookcoins | number : '.2'
            }}
            zł</span
          >
        </div>
      </div>
    </section>
    <p class="rodo">
      <input type="checkbox" id="rodo" formControlName="rodo" />
      <label for="rodo">Wyrazam zgodę na przetwarzanie danych osobowych</label>
    </p>
    <input class="submit" type="submit" value="Złóz zamówienie" />
    <app-parcel-machine-form
      *ngIf="showParcelMachineForm"
      (chosenParcelChanged)="onParcelFormClose($event)"
    ></app-parcel-machine-form>
    <app-close-message-popup
      *ngIf="showConfirmPopup"
      [mode]="confirmMode"
      [message]="confirmPopupMessage"
      (isClosed)="onConfirmPopupClose($event)"
    ></app-close-message-popup>
    <app-close-message-popup
      *ngIf="showErrorMessage"
      mode="red"
      [message]="errorMessage"
      (isClosed)="onErrorMessagePopupClose($event)"
    ></app-close-message-popup>
  </form>
</main>
<app-footer></app-footer>
