@use 'variables' as *;
@use 'reset' as *;

@import url('http://fonts.cdnfonts.com/css/circular-std');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: $main-font, $secondary-font;
}

a,
button {
  cursor: pointer;
  transition: 0.2s;
}

.btn-default {
  border: none;
  background-color: transparent;
  color: $font-color-light;
}
