<app-nav></app-nav>
<main *ngIf="shoppingCart; else emptyCart" class="no-empty-cart">
  <article>
    <h1>Koszyk</h1>
    <table>
      <tr *ngFor="let position of shoppingCart.positions">
        <td class="product">
          <img [src]="position.product.image.path" [alt]="position.product.image.alt" />
          <div>
            <span class="name">{{ position.product.name }}</span>
            <span *ngIf="position.product.author" class="author">{{
              position.product.author
            }}</span>
          </div>
        </td>
        <td class="amount-data">
          <div class="buttons">
            <button (click)="decrementAmount(position.product.id)">-</button>
            <input type="number" [value]="position.amount" disabled/>
            <button (click)="incrementAmount(position.product.id)">+</button>
          </div>
          <div class="price">{{ getProductSum(position) }} zł</div>
        </td>
      </tr>
    </table>
  </article>
  <aside>
    <h3>Podsumowanie</h3>
    <div>
      <span>Wartość koszyka:</span>
      <span class="totalAmount">{{ shoppingCart.totalAmount | number : '.2'}} zł</span>
    </div>
    <a routerLink="/ordering">Złóz zamówienie</a>
  </aside>
  <app-close-message-popup
      *ngIf="showErrorPopup"
      mode="red"
      [message]="errorMessage"
      (isClosed)="onErrorMessagePopupClose($event)"
    ></app-close-message-popup>
</main>
<app-footer></app-footer>

<ng-template #emptyCart>
  <main class="empty-cart">
    <h2>Brak produktów w koszyku</h2>
    <a routerLink="/products">Przeglądaj produkty</a>
  </main>
</ng-template>
