<div class="catalog-nav">
  <button class="btn-default">{{ title }}</button>
  <nav class="categories" *ngIf="categories.length">
    <div *ngFor="let category of categories">
      <a class="category--super category--a" [routerLink]="['/products']">{{
        category.name
      }}</a>
      <div *ngFor="let cat of category.subcategories" class="category">
        <a class="category--a" [routerLink]="['/products',  cat.name | url]"
          >{{ cat.name }}
        </a>
        <nav class="category--nav" *ngIf="cat.subcategories.length">
          <a
            class="category--nav-subcategory"
            *ngFor="let subcategory of cat.subcategories"
            [routerLink]="['/products', cat.name | url, subcategory.name | url]"
            >{{ subcategory.name }}
          </a>
        </nav>
      </div>
    </div>
  </nav>
</div>
