@use '../../../variables.scss' as *;

main {
    min-height: 100vh;
    padding-top: 120px;
    background-color: $grey-mid;
}

.failure {
    margin: 40px auto;
    text-align: center;
    color: $font-color-light;
    font-size: 20px;
    letter-spacing: 1px;
}

